<h1>記事一覧</h1>
<%= link_to "新規登録", new_article_path %>
<%= link_to 'ユーザー画面', users_dash_bord_path%>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>画像</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
  <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.content %></td>
      <td>
       <%= link_to a.image.url, "data-lightbox" => a.image.url do %>
         <%= image_tag a.image.url, height: '200', :style=>"width:100;" if a.image.url.present? %>
      <% end %>
      </td>
      <td><%= link_to "詳細", article_path(a) %></td>
      <td><%= link_to "編集", edit_article_path(a) %></td>
      <td><%= button_to"削除", article_path(a), method: :delete %></td>
    </tr>
  <% end %>
</table>
